<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/google_analytics.html" . }}
  {{ if .IsHome }}
    <meta name="description" content="{{ .Site.Params.description }}" />
  {{ end }}
  <title>
    {{ if .IsHome }}
    {{ .Site.Title }} {{ if .Site.Params.subtitle }} - {{ .Site.Params.subtitle }} {{ end }}
    {{ else }}
    {{ .Site.Title }} - {{ .Title }}
    {{ end }}
  </title>
  {{ $favicon := "favicon.ico" }}
  {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
  {{- end }}
</head>
<script>
</script>
